using System;
using System.Collections.Generic;
using System.Linq;
using System.Linq.Dynamic.Core;
using System.Threading.Tasks;
using {{.Module}}.Application.Contracts.{{.Entity}};
using {{.Module}}.Application.Contracts.Services;
using {{.Module}}.Constants;
using {{.Module}}.Domain.Entities;
using {{.Module}}.Permissions;
using Microsoft.AspNetCore.Authorization;
using Volo.Abp.Application.Dtos;
using Volo.Abp.Application.Services;
using Volo.Abp.Domain.Repositories;
using Volo.Abp;
using Volo.Abp.Linq;

namespace {{.Module}}.Application.Services
{
    [Authorize({{.PermissionsClass}}.{{.Entity}}Management.Default)]
    public class {{.Entity}}AppService :
        CrudAppService<
            {{.Entity}},
            {{.Entity}}Dto,
            {{.KeyType}},
            {{.GetListInputName}},
            Create{{.Entity}}Dto,
            Update{{.Entity}}Dto>,
        I{{.Entity}}AppService
    {
        public {{.Entity}}AppService(IRepository<{{.Entity}}, {{.KeyType}}> repository)
            : base(repository)
        {
            GetPolicyName = {{.PermissionsClass}}.{{.Entity}}Management.Default;
            GetListPolicyName = {{.PermissionsClass}}.{{.Entity}}Management.Default;
            CreatePolicyName = {{.PermissionsClass}}.{{.Entity}}Management.Create;
            UpdatePolicyName = {{.PermissionsClass}}.{{.Entity}}Management.Update;
            DeletePolicyName = {{.PermissionsClass}}.{{.Entity}}Management.Delete;
        }

        public override async Task<PagedResultDto<{{.Entity}}Dto>> GetListAsync({{.GetListInputName}} input)
        {
            await CheckGetListPolicyAsync();

            var queryable = await Repository.GetQueryableAsync();
            var query = queryable
{{.FilterPredicates}}                .OrderBy(input.Sorting ?? {{.Entity}}Constants.DefaultSorting);

            var totalCount = await AsyncExecuter.CountAsync(query);
            var entities = await AsyncExecuter.ToListAsync(
                query.PageBy(input.SkipCount, input.MaxResultCount));

            return new PagedResultDto<{{.Entity}}Dto>(
                totalCount,
                ObjectMapper.Map<List<{{.Entity}}>, List<{{.Entity}}Dto>>(entities));
        }

        public override async Task<{{.Entity}}Dto> CreateAsync(Create{{.Entity}}Dto input)
        {
            await CheckCreatePolicyAsync();

            var entity = new {{.Entity}}({{.AppServiceCreateArgs}});
            entity = await Repository.InsertAsync(entity, autoSave: true);

            return ObjectMapper.Map<{{.Entity}}, {{.Entity}}Dto>(entity);
        }

        public override async Task<{{.Entity}}Dto> UpdateAsync({{.KeyType}} id, Update{{.Entity}}Dto input)
        {
            await CheckUpdatePolicyAsync();

            var entity = await Repository.GetAsync(id);
            entity.Update({{.AppServiceUpdateArgs}});
            entity = await Repository.UpdateAsync(entity, autoSave: true);

            return ObjectMapper.Map<{{.Entity}}, {{.Entity}}Dto>(entity);
        }
    }
}
