using System;
{{.AttributeUsingBlock}}using System.ComponentModel.DataAnnotations;
using {{.Module}}.Constants;

namespace {{.Module}}.Application.Contracts.{{.Entity}}
{
    public class {{.DtoName}}
    {
{{.InputProperties}}    }
}
