namespace {{.Module}}.Events
{
    public static class {{.Entity}}EtoTypes
    {
        public const string Created = "{{.Module}}.{{.Entity}}.Created";
        public const string Updated = "{{.Module}}.{{.Entity}}.Updated";
        public const string Deleted = "{{.Module}}.{{.Entity}}.Deleted";
    }
}
